{% extends "dashboard/base.html" %}

{% block title %}Overview | SaaS Boilerplate{% endblock %}
{% block page_title %}Overview{% endblock %}
{% block page_actions %}
<a href="{% url 'dashboard:settings' %}" class="btn btn-ghost btn-sm">Settings</a>
<a href="{% url 'dashboard:subscription_plans' %}" class="btn btn-primary btn-sm">Upgrade</a>
{% endblock %}

{% block dashboard_content %}



<div class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
  <div class="lg:col-span-2">
    {% include "dashboard/ui/activity_list.html" with items=activities %}
  </div>

</div>
{% endblock %}